<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true" xmlns:log4j='http://jakarta.apache.org/log4j/'>
 
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
	    <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" 
		  value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	    </layout>
	</appender>
	
	<appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
      <param name="append" value="false"/>
      <param name="file" value="out/learning.log"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
      </layout>
   	</appender>
 
	<root>
		<level value="INFO" />
		<appender-ref ref="console" />
	</root>	
	
	
	<logger name="za.co.willemvisser.wpvhomecontroller.util.StoreUtil"
				additivity="false">
  		<appender-ref ref="console" />
  		<level value="info"/> 
	</logger>
	
	<logger name="za.co.willemvisser.wpvhomecontroller.util.S3Util"
				additivity="false">
  		<appender-ref ref="console" />
  		<level value="info"/> 
	</logger>
			
	<logger name="za.co.willemvisser.wpvhomecontroller.ws.rest.BoardController"
				additivity="false">
  		<appender-ref ref="console" />
  		<level value="debug"/> 
	</logger>
	
	<logger name="za.co.willemvisser.wpvhomecontroller.xbee.ws.rest.XDeviceController"
				additivity="false">
  		<appender-ref ref="console" />
  		<level value="info"/> 
	</logger>
	
	<logger name="za.co.willemvisser.wpvhomecontroller.config.dto.XbeeConfigDTO"
				additivity="false">
  		<appender-ref ref="console" />
  		<level value="info"/> 
	</logger>
	
	<logger name="za.co.willemvisser.wpvhomecontroller.config.ConfigController"
				additivity="false">
  		<appender-ref ref="console" />
  		<level value="info"/> 
	</logger>
		
	<logger name="za.co.willemvisser.wpvhomecontroller.util.HttpUtil"
				additivity="false">
  		<appender-ref ref="console" />
  		<level value="info"/> 
	</logger>
	
	<logger name="za.co.willemvisser.wpvhomecontroller.xbee.XbeeControllerPacketHandler"
				additivity="false">
  		<appender-ref ref="console" />
  		<level value="info"/> 
	</logger>
	
	<logger name="za.co.willemvisser.wpvhomecontroller.xbee.XbeeController"
			additivity="false">
  		<appender-ref ref="console" />
  		<level value="info"/> 
	</logger>
	
	<logger name="za.co.willemvisser.wpvhomecontroller.scheduler.WPVHomeControllerScheduler"
				additivity="false">
  		<appender-ref ref="console" />
  		<level value="debug"/> 
	</logger>
	
	<logger name="za.co.willemvisser.wpvhomecontroller.scheduler.job.dto.JobDTO"
				additivity="false">
  		<appender-ref ref="console" />
  		<level value="info"/> 
	</logger> 	 
	
	<logger name="za.co.willemvisser.wpvhomecontroller.scheduler.job.XbeeRemoteCommandJob"
				additivity="false">
  		<appender-ref ref="console" />
  		<level value="info"/> 
	</logger>
		
	<logger name="com.rapplogic.xbee.RxTxSerialComm"
				additivity="false">
  		<appender-ref ref="console" />
  		<level value="ERROR"/> 
	</logger>
	
	<logger name="com.rapplogic.xbee.api.PacketParser"
				additivity="false">
  		<appender-ref ref="console" />
  		<level value="ERROR"/> 
	</logger>
	
	<logger name="com.rapplogic.xbee.api.InputStreamThread"
				additivity="false">
  		<appender-ref ref="console" />
  		<level value="ERROR"/> 
	</logger>
	
	<logger name="com.rapplogic.xbee.api.Xbee"
				additivity="false">
  		<appender-ref ref="console" />
  		<level value="ERROR"/> 
	</logger>
		
 	 
 	<logger name="com.rapplogic.xbee.api.zigbee.ZNetRxIoSampleResponse"
				additivity="false">
  		<appender-ref ref="console" />
  		<level value="ERROR"/> 
	</logger> 
	
	<logger name="za.co.willemvisser.wpvhomecontroller.mqtt.MQTTListener"
				additivity="false">
  		<appender-ref ref="console" />
  		<level value="INFO"/> 
	</logger>
 	 
</log4j:configuration>